.searchBar {
  position: relative;
  width: 95%;
  max-width: 1280px;

  .icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding-left: 0.75rem;
    pointer-events: none;
    color: #6b7280;
  }

  .hint {
    position: absolute;
    top: 20%;
    right: 6rem;
    padding: 0.25rem 0.5rem;
    background: #fff;
    border-radius: 0.35rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9ca3af;
  }

  input {
    display: block;
    width: 100%;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 10rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background: #f9fafb;
    outline: none;

    &:focus {
      border-color: #1d4ed8;
    }
  }

  button {
    position: absolute;
    right: 0.625rem;
    bottom: 0.6rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #1d4ed8;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;

    &:hover {
      background: #1e40af;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

.darkSearchBar {
  .icon {
    color: #9ca3af;
  }

  .hint {
    background: #4b5563;
    color: #c9ced6;
  }

  input {
    background: #374151;
    border-color: #4b5563;
    color: #fff;

    &:focus {
      border-color: #3b82f6;
    }

    &::placeholder {
      color: #9ca3af;
    }
  }

  btn {
    background: #2563eb;

    &:hover {
      background: #1d4ed8;
    }
  }
}

@media screen and (max-width: 640px) {
  .searchBar {
    .hint {
      display: none;
    }

    input {
      padding-right: 6rem;
    }
  }
}
