@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'styles/common';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #010851;
  font-family: 'Poppins', sans-serif;
  @extend .hideScrollbar;

  main {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    @extend .flexColCen;
    background: #fff;
    // background: #030712;
  }

  button {
    outline: none;
    border: none;
    font-size: 1rem;
    background: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
}
