@import 'styles/common';

.userMenu {
  position: relative;
  width: 200px;
  margin-top: -0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;

  .content {
    @extend .flexCenter;
    gap: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    .icon {
      display: none;
    }

    .name {
      max-width: 8.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      border-radius: 50%;
    }

    &:hover {
      background: #f5f6fa;
    }
  }

  .menu {
    @extend .flexCol;
    position: absolute;
    gap: 0.15rem;
    width: 200px;
    background: #fff;
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
    box-shadow: #64646f33 0px 7px 29px 0px;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.25s;

    hr {
      width: 95%;
      margin: 4px auto;
    }

    .theme,
    .logout,
    .settings,
    .dashboard {
      @extend .alignCen;
      justify-content: space-between;
      padding: 0.35rem 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;

      span {
        font-size: 1.1rem;
      }

      &:hover {
        background: #f5f6fa;
      }
    }

    .theme {
      padding-right: 0;

      .toggleBtn {
        position: relative;
        opacity: 1;
        bottom: 0;
        left: 0;
        transform: scale(0.85);

        div {
          background: #eee;
        }
      }
    }
  }

  .show {
    transform: scaleY(1);
  }
}

.darkUserMenu {
  color: #fff;

  .content:hover {
    background: #6b7280;
  }

  .menu {
    background: #374151;
    box-shadow: none;
    border: 1px solid #ccc;

    .theme,
    .logout,
    .settings,
    .dashboard {
      &:hover {
        background: #6b7280;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .userMenu {
    width: 4.5rem;

    .content {
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      .icon {
        display: block;
        transition: all 0.2s;
        transform: rotate(-180deg);
      }

      .rotate {
        transform: rotate(0);
      }

      .name {
        display: none;
      }
    }

    .menu {
      transform: scale(0);
      transform-origin: top right;
      right: 1rem;
    }

    .show {
      transform: scale(1);
    }
  }
}
